<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="fragments/head :: head"></div>
    <title>Hakkımızda</title>
</head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="container">

    <h1 class="h-margin">OBSS İnsan Kaynakları</h1>
    <hr>
    <p class="p-margin">
        OBSS is a repository of remarkable intellectual capital in synergistic specialties ranging from software architecture to coding, from project management to product design, from business domain experts to robotics researchers and from software testers to graphic artists, all of whom are selected because of three essential characteristics: extraordinary talent, extraordinary passion and the personality to leverage both productively and cooperatively in a team.

        It’s this team, our team, assembled over a decade, with each new member screened intensively and interviewed by all members of our senior management team, that defines our value. It’s our model, to build a home for those of remarkable talent, and provide the encouragement, the mentoring, the infrastructure and the nurturing of excellence, that allows us to operate as a cohesive team, with individual excellence, delivering outcomes beyond expectations to clients with the most demanding expectations.

        This is OBSS. This is the vision of our founders, technologists at heart, with entrepreneurial DNA, that has guided us from day one to our present growth and market position as a powerhouse of intellectual capital in Turkey, with expansion now commencing into the U.S.

        Our plans are simple: continue doing what we love.
    </p>
    <hr>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
