<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="fragments/head :: head"></div>
    <title>İlanlar</title>
</head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="container">
    <div class="row row-margin">
        <div class="col-md-9">
            <h1>İlanlar</h1>
        </div>
        <div class="col-md-3">
            <a th:if="${session.user.userType.toString() == 'HR_EXPERT'}" class="btn btn-primary" th:href="@{'/jobs/new-job'}">Yeni İlan</a>
        </div>
    </div>
        <div class="row-margin row" th:each="job : ${jobs}">
            <hr>
            <div class="col-md-2">
                <img class="img-fluid" src="https://cdn3.iconfinder.com/data/icons/business-management-15/33/jobs-512.png">
            </div>
            <div class="col-md-10">
                <h1 th:text="${job.title}">Title</h1>
                <p th:text="${job.description}">Açıklama</p>
                <a class="btn btn-primary" th:href="@{'/jobs/' + ${job.id}}">Detaylar</a>
            </div>
        </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
